<h2>Add post</h2>
<a ui-sref="blog.list">Go to list</a>
<form class="form-horizontal" ng-submit="$ctrl.add({post: $ctrl.post})">
  <fieldset>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Title</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="title" placeholder="Title" autocomplete="off" ng-model="$ctrl.post.title">
      </div>
    </div>
    <div class="form-group">
      <label for="postBody" class="col-lg-2 control-label">Body</label>
      <div class="col-lg-8">
        <textarea class="form-control" rows="3" id="postBody" ng-model="$ctrl.post.body"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>